<ion-header>
	<ion-toolbar color ="primary">
		<ion-title>
			Names Jackpot
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<br>
	<ion-textarea class="caja" [(ngModel)]="names"placeholder="Enter the names"></ion-textarea>
	<div class="centrado">
		<br>
		<ion-button color="primary" size="large" (click)="addName()">Play</ion-button>
	</div>
	<div class="nameActually">
		<ion-label>{{nameActually}}</ion-label>
		
	</div>
</ion-content>
<ion-footer >
	<ion-toolbar color ="primary">
		<ion-title>Jose Luis & Juan Pablo</ion-title>
	</ion-toolbar>
</ion-footer>
